.header
{
	overflow: hidden;
	text-align: center;
	background-color: black;
	padding: 20px 10px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  width: 100%;
}

li {
  float: left;
}

.navbar li:hover
{
  background-color: #0099cc;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
}

*
{
box-sizing: border-box;
}

/*Create three equal columns that floats to*/
.a1
{
  float: left;
  padding: 10px;
  text-align: justify; 
}
/*clear float safter the columns*/
.row:after
{
  content: "";
  clear: both;
  display: table;
}
/*For mobiles phones*/
[class*="col-"]
{
  width: 100%;
}

@media only screen and (min-width: 768px)
{
  /*For Desktop*/
  .col-1 {width: 33.33%;}
  .col-2 {width: 33.33%;}
  .col-3 {width: 33.33%;}
}

img
{
  width: 100%;
  /*height: auto;*/
  height: 365;
  width: 365;
}

h1
{
  color: white;
  background: red;
}

/*Footer*/
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h4 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
